{% extends "layouts/main.html" %}

{% block header %}
{{ govukHeader({
serviceName: "Find an apprenticeship"
})
}}
{% endblock %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag ">Prototype</strong>
    <span class="govuk-phase-banner__text">This is not a real
      service.</span>
  </p>
</div>
<a class="govuk-back-link" href="search-page-02.html">Back</a>
{% endblock %}

{% block content %}

<!-- START title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">62 apprenticeships found</h1>
  </div>
</div>
<div class="govuk-!-padding-bottom-3"></div>
<!-- END title -->

<!-- START filter -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div style="border: 1px solid #B1B4B6; padding: 20px;">
      <h2 class="govuk-heading-m">Filter</h2>

      <div class="govuk-form-group">
        <label for="Keyword" class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-bottom-0">What
          <p class="govuk-hint">Enter a job or company</p>
        </label>
        <input name="keyword" type="search" title="Search" class="govuk-input" id="Keyword" value="">
      </div>

      <div class="govuk-form-group">
        <label for="Location" class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-bottom-0">Where
          <p class="govuk-hint">Enter a city or postcode</p>
        </label>
        <input name="Location" type="search" title="Search" class="govuk-input" id="Location" value="">
        <div id="Location" class="govuk-hint govuk-!-margin-top-2">
          Within
        </div>
        <select class="govuk-select" id="subject" name="subject" aria-describedby="subject-hint">
          <option value="published">2 miles</option>
          <option value="published">5 miles</option>
          <option value="updated" selected>10 miles</option>
          <option value="views">15 miles</option>
          <option value="comments">20 miles</option>
          <option value="comments">30 miles</option>
          <option value="comments">40 miles</option>
          <option value="comments">Across England</option>
        </select>
      </div>


      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default ">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading ">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Apprenticeship level
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-1">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <p class="govuk-body style=" style="color:	#505a5f">Select the level you want to apply for</p>
                <div class="govuk-checkboxes govuk-checkboxes--small">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="level-2" name="levels" type="checkbox" value="2" />
                    <label class="govuk-label govuk-checkboxes__label" for="level-2">
                      Level 2
                    </label>
                    <div id="level-item-hint" class="govuk-hint govuk-checkboxes__hint">
                      Equal to GCSEs
                    </div>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="level-3" name="levels" type="checkbox" value="3" />
                    <label class="govuk-label govuk-checkboxes__label" for="level-3">
                      Level 3
                    </label>
                    <div id="level-item-hint" class="govuk-hint govuk-checkboxes__hint">
                      Equal to A-levels
                    </div>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="level-4" name="levels" type="checkbox" value="4" />
                    <label class="govuk-label govuk-checkboxes__label" for="level-4">
                      Level 4
                    </label>
                    <div id="level-item-hint" class="govuk-hint govuk-checkboxes__hint">
                      Equal to a HNC
                    </div>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="level-5" name="levels" type="checkbox" value="5" />
                    <label class="govuk-label govuk-checkboxes__label" for="level-5">
                      Level 5
                    </label>
                    <div id="level-item-hint" class="govuk-hint govuk-checkboxes__hint">
                      Equal to a HND or foundation
                    </div>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="level-6" name="levels" type="checkbox" value="6" />
                    <label class="govuk-label govuk-checkboxes__label" for="level-6">
                      Level 6 - degree apprenticeship
                    </label>
                    <div id="level-item-hint" class="govuk-hint govuk-checkboxes__hint">
                      Equal to an undergraduate degree
                    </div>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="level-7" name="levels" type="checkbox" value="7" />
                    <label class="govuk-label govuk-checkboxes__label" for="level-7">
                      Level 7 - degree apprenticeship
                    </label>
                    <div id="level-item-hint" class="govuk-hint govuk-checkboxes__hint">
                      Equal to a master’s degree
                    </div>
                  </div>
                </div>
              </fieldset>
              <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-3"><a
                  class="govuk-link govuk-link--no-visited-state"
                  href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels"
                  target="_blank" rel="external">What
                  qualification levels mean
                  (opens in new tab)</a></p>
            </div>
          </div>
        </div>


        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Job categories
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-2">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <div class="govuk-checkboxes govuk-checkboxes--small">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="route-2868f657-3279-452a-9196-24f7294bd950"
                      name="sectors" type="checkbox" value="Agriculture, environmental and animal care">
                    <label class="govuk-label govuk-checkboxes__label" for="route-2868f657-3279-452a-9196-24f7294bd950">
                      Agriculture, environmental and animal care
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="route-7e11990f-1967-4fdc-9f56-b49893d73645"
                      name="sectors" type="checkbox" value="Business and administration">
                    <label class="govuk-label govuk-checkboxes__label" for="route-7e11990f-1967-4fdc-9f56-b49893d73645">
                      Business and administration
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="route-67f93420-76b7-4e76-b3c0-f006c302e6b7"
                      name="sectors" type="checkbox" value="Care services">
                    <label class="govuk-label govuk-checkboxes__label" for="route-67f93420-76b7-4e76-b3c0-f006c302e6b7">
                      Care services
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="route-29bfe27e-95d8-4e5c-9be2-b538bb38a452"
                      name="sectors" type="checkbox" value="Catering and hospitality">
                    <label class="govuk-label govuk-checkboxes__label" for="route-29bfe27e-95d8-4e5c-9be2-b538bb38a452">
                      Catering and hospitality
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="route-13e44e4e-1b5b-4e4d-b804-a832483d2a76"
                      name="sectors" type="checkbox" value="Construction and the built environment">
                    <label class="govuk-label govuk-checkboxes__label" for="route-13e44e4e-1b5b-4e4d-b804-a832483d2a76">
                      Construction and the built environment
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="route-821e4541-3dfd-470e-8435-cb9701704a48"
                      name="sectors" type="checkbox" value="Creative and design">
                    <label class="govuk-label govuk-checkboxes__label" for="route-821e4541-3dfd-470e-8435-cb9701704a48">
                      Creative and design
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="route-94d46af2-9298-4f8d-a127-ea04ac019cee"
                      name="sectors" type="checkbox" value="Digital">
                    <label class="govuk-label govuk-checkboxes__label" for="route-94d46af2-9298-4f8d-a127-ea04ac019cee">
                      Digital
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="route-13afbfa6-592f-4841-96b2-4d1c8ee5363b"
                      name="sectors" type="checkbox" value="Education and early years">
                    <label class="govuk-label govuk-checkboxes__label" for="route-13afbfa6-592f-4841-96b2-4d1c8ee5363b">
                      Education and early years
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="route-407af951-9317-446a-bf7d-0da752c7a092"
                      name="sectors" type="checkbox" value="Engineering and manufacturing">
                    <label class="govuk-label govuk-checkboxes__label" for="route-407af951-9317-446a-bf7d-0da752c7a092">
                      Engineering and manufacturing
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="route-cb50c085-d71b-47e2-b624-b034a6148201"
                      name="sectors" type="checkbox" value="Hair and beauty">
                    <label class="govuk-label govuk-checkboxes__label" for="route-cb50c085-d71b-47e2-b624-b034a6148201">
                      Hair and beauty
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="route-02b509c1-319f-4825-8526-3dbd8760baf9"
                      name="sectors" type="checkbox" value="Health and science">
                    <label class="govuk-label govuk-checkboxes__label" for="route-02b509c1-319f-4825-8526-3dbd8760baf9">
                      Health and science
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="route-ca87e41b-6ab9-4291-bb5f-c084a029d010"
                      name="sectors" type="checkbox" value="Legal, finance and accounting">
                    <label class="govuk-label govuk-checkboxes__label" for="route-ca87e41b-6ab9-4291-bb5f-c084a029d010">
                      Legal, finance and accounting
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="route-ff16a7b9-8c77-4786-8a2b-c5ee5f562743"
                      name="sectors" type="checkbox" value="Protective services">
                    <label class="govuk-label govuk-checkboxes__label" for="route-ff16a7b9-8c77-4786-8a2b-c5ee5f562743">
                      Protective services
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="route-29ddf300-5a11-403a-8920-c53284571eb5"
                      name="sectors" type="checkbox" value="Sales, marketing and procurement">
                    <label class="govuk-label govuk-checkboxes__label" for="route-29ddf300-5a11-403a-8920-c53284571eb5">
                      Sales, marketing and procurement
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="route-8576ae03-4f55-441f-adeb-ec3bcf81d265"
                      name="sectors" type="checkbox" value="Transport and logistics">
                    <label class="govuk-label govuk-checkboxes__label" for="route-8576ae03-4f55-441f-adeb-ec3bcf81d265">
                      Transport and logistics
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <label for="disability"
            class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-bottom-0">Disability Confident
            <p class="govuk-hint">Employers who have committed to support disabled people at work</p>
          </label>
          <div class="govuk-checkboxes govuk-checkboxes--small">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="onlyshow" name="disability" type="checkbox" value="yes" />
              <label class="govuk-label govuk-checkboxes__label" for="disability">
                Only show Disability Confident employers
              </label>
            </div>
          </div>
        </fieldset>
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-3"><a
            class="govuk-link govuk-link--no-visited-state" href="/" target="_blank" rel="external">Learn more about
            Disability Confident (opens in new tab)</a></p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5 ">
        <button type="submit" class="govuk-button" id="filters-submit-second">Apply filters</button>
      </div>
    </div>
  </div>

  <!-- END filter -->


  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5 ">

    <!-- START controls section -->
    <!-- START map -->
    <div class="icon-link-container" style="float:left; width:50%;">
      <img src="/public/images/map-icon.png" width="30px" alt="Icon" class="icon">
      <a href="map-02" class="link">Open map</a>
    </div>


    <!-- END map -->
    <!-- START sort -->
    <div style="float:right; width:50%;">
      <div class="govuk-form-group" style="text-align: right;">
        <label for=" sorting">Sort results</label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="recent">Most recent</option>
          <option value="distance" selected>Distance</option>
          <option value="closing">Closing soon</option>
          <option value="salary-decending">Salary high to low</option>
          <option value="salary-accending">Salary low to high</option>
        </select>
      </div>
    </div>
    <div class="govuk-!-padding-bottom-9"></div>

    <!-- END sort -->
    <!-- END controls section -->

    <!-- START cards -->
    <div class="govuk-!-padding-bottom-2"></div>
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3 ">
    <h2 class="govuk-heading-m das-search-results__heading govuk-!-margin-bottom-1">
      <a class="das-search-results__link" id="standard-274" href="/courses/274">
        Business Administration Apprentice</a>
    </h2>
    <p class="govuk-body govuk-!-margin-bottom-0">Browns Housing LTD</p>
    <p class="govuk-body" style="color:#505a5f">
      Sheffield, S3 7GE</p>
    <p class="govuk-body govuk-!-margin-bottom-1"><b>Distance</b> 0.4 miles</p>
    <p class="govuk-body govuk-!-margin-bottom-1"><b>Training course</b> Business administrator (Level 3)</p>
    <p class="govuk-body"><b>Annual wage</b> Competitive</p>
    <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-1">Closes in 16 days (Tuesday 27 June)</p>
    <p class="govuk-body govuk-!-font-size-16" style="color:#505a5f">
      Posted 19 May</p>
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-5 govuk-!-margin-bottom-5 ">

    <strong class="govuk-tag govuk-!-margin-bottom-1">
      New
    </strong>
    <h2 class="govuk-heading-m  das-search-results__heading govuk-!-margin-bottom-1">
      <a class="das-search-results__link" id="vacancy-01" href="vacancy-page-02">
        Business Administration Apprentice</a>
    </h2>
    <p class="govuk-body govuk-!-margin-bottom-0">King recruitment LTD</p>
    <p class="govuk-body" style="color:#505a5f">
      Sheffield, S1 3FG</p>
    <p class="govuk-body govuk-!-margin-bottom-1"><b>Distance</b> 0.6 miles</p>
    <p class="govuk-body govuk-!-margin-bottom-1"><b>Training course</b> Business administrator (Level 3)</p>
    <p class="govuk-body"><b>Annual wage</b> £10,158.72 to £20,048.08</p>
    <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-1">Closes in 14 days (Monday 10 July)
    </p>
    <p class="govuk-body govuk-!-font-size-16" style="color:#505a5f">
      Posted 3 days ago (23 June 2023)</p>
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5 ">

    <h2 class="govuk-heading-m  das-search-results__heading govuk-!-margin-bottom-1">
      <a class="das-search-results__link" id="standard-274" href="/courses/274">
        Business Admin Apprentice</a>
    </h2>
    <p class="govuk-body govuk-!-margin-bottom-0">Jack Jones Consulting LTD</p>
    <p class="govuk-body" style="color:#505a5f">
      Sheffield, S10 2LR</p>
    <p class="govuk-body govuk-!-margin-bottom-1"><b>Distance</b> 1.3 miles</p>
    <p class="govuk-body govuk-!-margin-bottom-1"><b>Training course</b> Business administrator (Level 3)
    </p>
    <p class="govuk-body"><b>Annual wage</b> £8,236.80</p>
    <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-1">Closes Monday 31 July
    </p>
    <p class="govuk-body govuk-!-font-size-16" style="color:#505a5f">
      Posted 20 Mar</p>
    <img src="/public/images/disability-confident.png" width="130px">
    <div class="govuk-!-padding-bottom-3"></div>
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">

    <h2 class="govuk-heading-m  das-search-results__heading govuk-!-margin-bottom-1">
      <a class="das-search-results__link" id="standard-274" href="/courses/274">
        Business Administration Apprentice</a>
    </h2>
    <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-1">Norvarst</p>
    <p class="govuk-body" style="color:#505a5f">
      Sheffield, S4 8BS</p>
    <p class="govuk-body govuk-!-margin-bottom-1"><b>Distance</b> 1.8 miles</p>
    <p class="govuk-body govuk-!-margin-bottom-1"><b>Training course</b> Business administrator (Level 3)
    </p>
    <p class="govuk-body"><b>Annual wage</b> £14,625.00</p>
    <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-1">Closes Friday 7 July
    </p>
    <p class="govuk-body govuk-!-font-size-16" style="color:#505a5f">
      Posted 2 June</p>
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5 ">

    <strong class="govuk-tag govuk-tag--orange govuk-!-margin-bottom-1">
      Closing soon
    </strong>
    <h2 class="govuk-heading-m  das-search-results__heading govuk-!-margin-bottom-0">
      <a class="das-search-results__link" id="standard-274" href="/courses/274">
        Business Support Administrator Apprentice</a>
    </h2>
    <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-1">ICT Software Limited</p>
    <p class="govuk-body" style="color:#505a5f">
      Sheffield, S12 3HL</p>
    <p class="govuk-body govuk-!-margin-bottom-1"><b>Distance</b> 3.7 miles</p>
    <p class="govuk-body govuk-!-margin-bottom-1"><b>Training course</b> Business administrator (Level
      3)
    </p>
    <p class="govuk-body"><b>Annual wage</b> £12,740.00</p>
    <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-1">Closes in 4 days (Thursday 15
      June)</p>
    <p class="govuk-body govuk-!-font-size-16" style="color:#505a5f">
      Posted 22 May</p>
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5 ">

    <h2 class="govuk-heading-m  das-search-results__heading govuk-!-margin-bottom-1">
      <a class="das-search-results__link" id="standard-274" href="/courses/274">
        Apprentice Business Administrator</a>
    </h2>
    <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-1">Childcare Point LTD</p>
    <p class="govuk-body" style="color:#505a5f">
      Sheffield, S35 8PR</p>
    <p class="govuk-body govuk-!-margin-bottom-1"><b>Distance</b> 4.4 miles</p>
    <p class="govuk-body govuk-!-margin-bottom-1"><b>Training course</b> Business administrator (Level
      3)</p>
    <p class="govuk-body"><b>Annual wage</b> £4,392.96</p>
    <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-1">Closes in 19 days (Friday 30
      June)</p>
    <p class="govuk-body govuk-!-font-size-16" style="color:#505a5f">
      Posted 31 May</p>
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3 ">
    <!-- END cards -->



    <nav class="govuk-pagination" role="navigation" aria-label="results">
      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item govuk-pagination__item--current">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
            1
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
            2
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
            3
          </a>
        </li>
      </ul>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span
            class="govuk-pagination__link-title">Next</span> <svg
            class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13"
            width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path
              d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
            </path>
          </svg></a>
      </div>
    </nav>



  </div>







  {% endblock %}