{% extends "layouts/employer-header.html" %}

{% block beforeContent %}
{{super()}}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}
{% endblock %}

{% block content %}

<!-- {{minWage}} -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">{% if data.title %}{{data.title}}{% else %}Safety, Health &
            Environment Technician Apprentice{% endif %}</span>
        <h1 class="govuk-heading-xl">
            Set wage yourself
        </h1>
        <p class="govuk-body">Apprentices must be paid at least the​ <a
                href="https://www.gov.uk/national-minimum-wage-rates" rel="noopener" target="_blank">​National Minimum
                Wage
                for apprentices (opens in a new tab)​</a>.</p>


        <p class="govuk-body">From 1 April 2023, the <strong>National Minimum Wage for apprentices</strong> is £5.28 an
            hour.</p>

        <p class="govuk-body">Based on 23 working hours a week, you'll need to pay a yearly wage of at least £5,752.76.
        </p>

        <div class="govuk-form-group govuk-!-margin-top-7">
            <form method="post" action="extra-info-pay">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        How much will the apprentice be paid?
                    </legend>
                    <div class="govuk-input__wrapper">
                        <div class="govuk-input__prefix" aria-hidden="true">£</div>
                        <input class="govuk-input govuk-input--width-5 {% if data.error == " wages"
                            %}govuk-input--error{% endif %}" id="FixedWageYearlyAmount" name="FixedWageYearlyAmount"
                            type="text" {% if data.FixedWageYearlyAmount %}value="{{data.FixedWageYearlyAmount}}" {%
                            endif %}>
                        <div class="govuk-input__suffix" aria-hidden="true">yearly</div>
                    </div>

                </fieldset>
        </div>

        <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>

            <a href="../dashboard" class="govuk-link" href="#">Cancel</a>
        </div>
        </form>
    </div>
</div>

{% endblock %}