{% extends "layouts/employer-header.html" %}

{% block beforeContent %}
{{super()}}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Entry Level Development Engineer Apprentice</h1>

        <p class="govuk-body-l">Advert reference: VAC1000000997</p>

        <!-- ////START vacancy summry//// -->
        <h2 class="govuk-heading-m">Advert summary</h2>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Status
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--green">
                        Live
                    </strong>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> close advert</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                <dt class="govuk-summary-list__key">
                    Closing date
                </dt>
                <dd class="govuk-summary-list__value">
                    21 Feb 2023
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="3c-dates">
                        Change<span class="govuk-visually-hidden"> change dates</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                <dt class="govuk-summary-list__key">
                    Possible start date
                </dt>
                <dd class="govuk-summary-list__value">
                    01 Aug 2023
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Training provider
                </dt>
                <dd class="govuk-summary-list__value">
                    WILTSHIRE COLLEGE
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="select-training-provider">
                        Change<span class="govuk-visually-hidden"> change training provider</span>
                    </a>
                </dd>
            </div>
        </dl>

        <p class="govuk-body">
            <a class="govuk-link button-link  govuk-link--no-visited-state" href="view">View advert</a> &nbsp;
            <a class="govuk-link button-link  govuk-link--no-visited-state" href="#">Clone advert</a> &nbsp;
        </p>

        <!-- END vacancy summary  -->

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <!-- START vacancy analytics -->

        <h2 class="govuk-heading-m">Advert analytics</h2>

        <p>
            To see how many people have looked at your advert, <a href="3b-vacancy-analytics">view advert analytics</a>.
        </p>

        <!-- END vacancy actions -->

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    </div>
</div>

<!-- manage applications -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">Applications (10)</h2>


        <!-- search box START -->
        <fieldset class="govuk-fieldset">
            <legend class="govuk-visually-hidden">Search employer name or account name</legend>
            <div class="govuk-form-group search-field search-field-darker">

                <div class="search-input search-input-with-button">
                    <label class="govuk-label" for="query">
                        <!--Client reference-->
                        Search applicant name
                    </label>

                    <div class="autocomplete__parent_wrapper">
                        <div class="autocomplete__wrapper">
                            <div aria-atomic="true" aria-live="polite" role="status"
                                style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;">
                                <span>No search results.</span>
                                <span>,,</span>
                            </div>
                            <input aria-owns="searchOrgs__listbox" autocomplete="off" class="autocomplete__input"
                                id="searchOrgsAuto" name="query" placeholder="" role="combobox" type="text"
                                style="display:none;" value="">
                        </div>
                    </div>
                    <input class="govuk-text" name="searchOrgQuery" id="searchOrgsQuery" value="">
                </div>
                <div class="search-submit">
                    <button class="govuk-button" data-module="govuk-button" type="submit" id="searchOrgsSubmit"
                        name="searchOrgsSubmit" value="Search Organisations">Search Organisations</button>
                </div>
            </div>
        </fieldset>
        <!-- search box END -->

        <!-- START multiple links -->

        <p class="govuk-body">
            <a href="8a-multiple-unsuccessful" class="govuk-link govuk-link--no-visited-state">Make multiple
                applications
                unsuccessful</a>
        </p>
        <!-- END multiple links -->

        <!-- START disability confident -->
        <div class="govuk-inset-text">
            You are signed up to the <a href="#">Disability Confident scheme (opens in new tab)</a>.
        </div>
        <!-- END disability confident -->

    </div>
</div>

<!-- table START -->
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{%
set appsTableData = [
{
name: "Keith Stewart",
id: "678CFR0",
status: "new",
link: "../account/application-new",
classes: "govuk-tag--blue",
date: "13 Jan 2023",
disability: "Prefer not to say"
},
{
name: "Ellen Collins",
id: "6H0IL55",
status: "new",
link: "../account/application-review-no",
classes: "govuk-tag--blue",
date: "13 Jan 2023",
disability: "No"
},
{
name: "Cynthia Perez",
id: "FL13JK0",
status: "new",
link: "",
classes: "govuk-tag--blue",
date: "15 Jan 2023",
disability: "No"
},
{
name: "Susie Noble",
id: "LL13J9H",
status: "New",
link: "",
classes: "govuk-tag--blue",
date: "15 Jan 2023",
disability: "No"
},
{
name: "Judy Ward",
id: "897DW5T",
status: "New",
link: "",
classes: "govuk-tag--blue",
date: "15 Jan 2023",
disability: "No"
},
{
name: "Charles Davis",
id: "B2LH789",
status: "New",
link: "",
classes: "govuk-tag--blue",
date: "15 Jan 2023",
disability: "Prefer not to say"
},
{
name: "Neena Patel",
id: "78BH067",
status: "New",
link: "",
classes: "govuk-tag--blue",
date: "15 Jan 2023",
disability: "No"
},
{
name: "Jose Robinson",
id: "LY6TY44",
status: "New",
link: "",
classes: "govuk-tag--blue",
date: "15 Jan 2023",
disability: "Prefer not to say"
},
{
name: "John Smith",
id: "39DBE1A",
status: "New",
link: "",
classes: "govuk-tag--blue",
date: "16 Jan 2023",
disability: "Yes"
},
{
name: "Danielle Price",
id: "HAK9F56",
status: "New",
link: "",
classes: "govuk-tag--blue",
date: "16 Jan 2023",
disability: "Yes"
}
]
%}
<table class="govuk-table responsive-table" data-module="das-table-sort">
    <thead class="govuk-table__header">
        <tr class="govuk-table__row" role="row">

            <th scope="col" class="govuk-table__header" aria-sort="none">
                <a href="#" class="govuk-link das-table__sort das-table__sort--asc" aria-sort="ascending">Name </a>
            </th>
            <th scope="col" class="govuk-table__header das-table--double-arrows" aria-sort="none">
                <a href="#" class="govuk-link das-table__sort">Application ID</a>
            </th>
            <th scope="col" class="govuk-table__header das-table--double-arrows" aria-sort="none">
                <a href="#" class="govuk-link das-table__sort">Status</a>
            </th>
            <th scope="col" class="govuk-table__header das-table--double-arrows" aria-sort="none">
                <a href="#" class="govuk-link das-table__sort">Date applied</a>
            </th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        {% for applicant in appsTableData %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell" role="gridcell" data-label="Name">
                <a href="{{ applicant.link }}" class="govuk-link govuk-link--no-visited-state">{{ applicant.name }}</a>
                <input type="hidden" name="{{ applicant.id }}-name" value="{{ applicant.name }}">
            </td>
            <td class="govuk-table__cell" role="gridcell" data-label="Application ID">{{ applicant.id }}</td>
            <td class="govuk-table__cell" role="gridcell" data-label="Status">
                {{ govukTag({
                text: applicant.status,
                classes: applicant.classes
                }) }}
            </td>
            <td class="govuk-table__cell" role="gridcell" data-label="Date applied">{{ applicant.date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- table END -->

{% endblock %}

{% block scripts %}
{{super()}}
<script>
    const selectAllCB = document.getElementById("select-all-applications");
    const allApplicantsCB = document.getElementsByName('applications');

    const tableSort = () => {
        const getCellValue = (tr, idx) => {
            return tr.children[idx].innerText || tr.children[idx].textContent
        };

        const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
            v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
        )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

        const sortableTable = document.querySelector('[data-module="das-table-sort"]');
        const allSortLinks = sortableTable.querySelectorAll('.govuk-table__header .govuk-link');

        const handleClick = event => {
            event.preventDefault();
            const sortLink = event.target

            allSortLinks.forEach(link => {
                if (link === event.target) return false;
                link.parentNode.classList.add("das-table--double-arrows")
                link.classList.remove("das-table__sort--asc", "das-table__sort--desc")
                link.setAttribute("aria-sort", "none")
            });

            if (sortLink.classList.contains("das-table__sort--asc")) {
                sortLink.parentNode.classList.remove("das-table--double-arrows")
                sortLink.classList.replace("das-table__sort--asc", "das-table__sort--desc")
                sortLink.setAttribute("aria-sort", "descending")
            } else if (sortLink.classList.contains("das-table__sort--desc")) {
                sortLink.parentNode.classList.remove("das-table--double-arrows")
                sortLink.classList.replace("das-table__sort--desc", "das-table__sort--asc")
                sortLink.setAttribute("aria-sort", "ascending")
            } else {
                sortLink.parentNode.classList.remove("das-table--double-arrows")
                sortLink.classList.add("das-table__sort--desc")
                sortLink.setAttribute("aria-sort", "descending")
            }

            Array.from(sortableTable.querySelectorAll('.govuk-table__body .govuk-table__row'))
                .sort(comparer(Array.from(sortLink.parentNode.parentNode.children)
                    .indexOf(sortLink.parentNode), this.asc = !this.asc))
                .forEach(tr => sortableTable.querySelector(".govuk-table__body").appendChild(tr));
        }

        allSortLinks.forEach(link => {
            link.addEventListener('click', handleClick)
        });
    }

    if (document.querySelector('[data-module="das-table-sort"]')) {
        tableSort();
    }
</script>

{% endblock %}