{% extends "layouts/employer-header.html" %}

{% block beforeContent %}
{{super()}}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="confirm-training-provider" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <span class="govuk-caption-xl">{% if data.title %}{{data.title}}{% else %}Safety, Health &
                            Environment Technician Apprentice{% endif %}</span>
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--xl" for="searchClients">Enter the name of the
                                training provider or UKPRN
                        </h1>
                    </legend>
                    <div id="contact-hint" class="govuk-hint">
                        You will need to use a registered training provider who offers <span
                            class="govuk-!-font-weight-bold">{% if data.training_level %}{{data.training_level}}{% else
                            %}Business administration, Level: 2 (Standard){% endif %}</span> training.
                    </div>

                    <!--<div class="govuk-radios__conditional {% if not data.has_training_provider == "yes" and data.edit=="yes" %}govuk-radios__conditional--hidden{% endif %}" id="conditional-how-contacted-conditional-1">-->

                    <div
                        class="govuk-form-group search-field search-field-darker {%if data.hasError and data.errorType == 'provider'%}govuk-form-group--error{% endif%}">
                        <input type="hidden" name="clientsFilter" value="new">
                        <div class="search-input ">
                            <label class="govuk-label" for="contact-by-email">
                                <span class="govuk-hint">

                                </span>
                            </label>
                            {% if data.hasError and data.errorType == "provider" %}
                            <span id="provider-need-update" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> {{data.providerName}} can no longer be
                                used as a training provider.
                            </span>
                            {% endif %}
                            <div class="autocomplete__parent_wrapper govuk-!-margin-bottom-2">
                                <div class="autocomplete__wrapper">
                                    <div aria-atomic="true" aria-live="polite" role="status"
                                        style="border: 0px; clip: rect(0px 0px 0px 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;">
                                        <span>No search results.</span>
                                        <span>,,</span>
                                    </div>
                                    <p id="search-default-value" class="govuk-visually-hidden">{% if (data.edit=="yes"
                                        and data.has_training_provider == "yes") or data.hasError
                                        %}{{data.providerName}} {{data.UKPRN}}{%endif%}</p>
                                    <input aria-owns="searchClients__listbox" autocomplete="off"
                                        class="autocomplete__input" id="searchClients" name="providerName"
                                        placeholder="" role="combobox" type="text" value="WILTSHIRE COLLEGE">
                                    <ul class="autocomplete__menu autocomplete__menu--overlay autocomplete__menu--hidden"
                                        id="searchClients__listbox" role="listbox"></ul>
                                </div>
                            </div>
                            <input class="form-control form-control-3-4" name="" id="searchClients-old" type="text"
                                value="" style="display: none;">

                            <div class="search-submit ">
                                <button class="button govuk-visually-hidden" type="submit" id="searchClientsSubmit"
                                    name="searchClientsSubmit" value="Search clients">Search clients</button>
                            </div>
                            <p class="govuk-body"><a href="#" id="clear-search" class="govuk-link">Clear search</a></p>
                        </div>
                    </div><br>
                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                What is a UK Provider Reference Number?
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            A UK Provider Reference Number (UKPRN) is a unique, 8-digit number that identifies a
                            training provider. Your training provider can tell you their UKPRN.
                        </div>
                    </details>

                </fieldset>

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>

                    <a href="3c-manage-applications" class="govuk-link" href="#">Cancel</a>
                </div>

            </div>
        </form>
    </div>
</div>
<div class="govuk-visually-hidden">
    {% for provider in data.providers_full %}
    <span class="data-item">{{provider.ProviderName}} {{provider.Ukprn}}</span>
    {% endfor %}
</div>

{% endblock %}

{% block pageScripts %}
{{super()}}
<script src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#clear-search').on('click', function (e) {
            e.preventDefault();
            $('#searchClients').val("");
        })
    })

    function addMembers(event) {
        document.getElementById("add-members-form").submit();
    }

    function getProviders() {
        var items = document.getElementsByClassName("data-item");

        var data = [];

        for (var i = 0; i < items.length; i++) {
            // var user=names[i].textContent+" - "+email[i].textContent;
            var provider = items[i].textContent
            data.push(provider);
        }

        return data;
    }

    function suggest(query, populateResults) {
        const results = getProviders();
        const filteredResults = results.filter(
            result => result.toUpperCase().indexOf(query.trim().toUpperCase()) !== -1
        )
        populateResults(filteredResults);
    }

    // Trigger search click.  Taken out the clich for the prototype.
    function fireSearch() {
        setTimeout(function () {
            $('.dates').show();
            $('#selected-training').text($("#searchClients").val())
        }, 200);


    }
    // function fireSearch(){
    // 	// $("#searchClientsSubmit").trigger("click")
    //   console.log("pressed")
    // }
    var myInput = document.querySelector('#searchClients');
    var myInputID = myInput.id;
    var element = document.createElement('div');
    var value = ""

    if (document.getElementById('search-default-value').innerHTML != "") {
        value = document.getElementById("search-default-value").innerHTML;
    }

    element.className = "autocomplete__parent_wrapper";
    myInput.parentNode.insertBefore(element, myInput)
    // console.log("value"+document.getElementById("search-default-value").innerHTML)
    accessibleAutocomplete({
        // other options
        element: element,
        id: myInputID,
        name: myInput.name,
        source: suggest,
        defaultValue: value,
        confirmOnBlur: false,
        autoselect: true,
        onConfirm: fireSearch,
        displayMenu: 'inline',
        minLength: 3
    });
    myInput.style.display = 'none';
    myInput.id = myInputID + '-old';
    myInput.name = '';
</script>

{% endblock %}