{% extends "layouts/employer-header.html" %}

{% block beforeContent %}
{{super()}}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Add these addresses
        </h1>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                    72 Guild Street<br>London<br>SE23 6FH
                </dd>
                <dd class="govuk-summary-list__actions">
                    <ul class="govuk-summary-list__actions-list">
                        <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> 72 Guild Street</span>
                            </a></li>
                        <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">
                                Delete<span class="govuk-visually-hidden"> 72 Guild Street</span>
                            </a></li>
                    </ul>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                    94 School Lane<br>Lincoln<br>LN70 9PC
                </dd>
                <dd class="govuk-summary-list__actions">
                    <ul class="govuk-summary-list__actions-list">
                        <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> 94 School Lane</span>
                            </a></li>
                        <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">
                                Delete<span class="govuk-visually-hidden"> 94 School Lane</span>
                            </a></li>
                    </ul>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                    91 Mill Lane<br>Oxford<br>OX26 5KI
                </dd>
                <dd class="govuk-summary-list__actions">
                    <ul class="govuk-summary-list__actions-list">
                        <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> 91 Mill Lane</span>
                            </a></li>
                        <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">
                                Delete<span class="govuk-visually-hidden"> 91 Mill Lane</span>
                            </a></li>
                    </ul>
                </dd>
            </div>
        </dl>

        <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="multiple-locations">Add
                another</a>
        </p>
        <a href="task-list" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Save and continue
        </a>



    </div>
</div>


{% endblock %}