{% extends "layouts/provider-header.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl" style="margin-bottom: 16px;">
  Training Provider Name
</h1>
<p style="color:#666">UKPRN: 00002113</p>
<hr style="margin-bottom: 20px;"/>

<div class="govuk-grid-row"">
  <div class="govuk-grid-column-one-half">
    <a href="#" title="Add new apprentices">
      <h2>Add new apprentices</h2>
    </a>
    <ul class="govuk-list govuk-list--bullet">
      <li>upload a CSV file</li>
      <li>manually enter details</li>
      <li>create a new cohort</li>
      <li>add to an existing</li>
      </ul>
  </div>
  <div class="govuk-grid-column-one-half">
    <a href="#" title="Get funding for non-levy employers">
      <h2>Get funding for non-levy employers</h2>
      </a>
      <p>Secure funding for a non-levy employer to train an apprentice.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a href="#" title="Add new apprentices">
      <h2>Apprentice requests</h2>
    </a>
    <p>Review, edit, approve and add apprentices.
    </p>
  </div>
  <div class="govuk-grid-column-one-half">
    <a href="#" title="Manage your funding reserved for non-levy employers">
      <h2>Manage your funding reserved for non-levy employers</h2>
      </a>
      <p>Add apprentice information to funding you have already reserved for non-levy employers.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a href="#" title="Manage your apprentices">
      <h2>Manage your apprentices</h2>
    </a>
    <p>View and update approved apprentice records.
      </p>
  </div>
  <div class="govuk-grid-column-one-half">
    <a href="#" title="Recruit apprentices">
      <h2>Recruit apprentices</h2>
      </a>
      <p>Create a vacancy to recruit an apprentice and manage applications.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a href="#" title="Find employers that need a training provider">
      <h2>Find employers that need a training provider</h2>
    </a>
    <p>View employers and share your contact details with them.
      </p>
  </div>
  <div class="govuk-grid-column-one-half">
    <a href="#" title="Organisations and agreements">
      <h2>Organisations and agreements</h2>
      </a>
      <p>Find and view organisations and their agreement IDs.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a href="#" title="Manage employer invitations">
      <h2>Manage employer invitations</h2>
    </a>
    <p>Invite employers to create an apprenticeship service account.
      </p>
  </div>
  <div class="govuk-grid-column-one-half">
    <a href="#" title="Your standards and training venues">
      <h2>Your standards and training venues</h2>
      </a>
      <ul class="govuk-list govuk-list--bullet">
        <li>manage the standards you deliver</li>
        <li>add or remove a training venue</li>
        <li>change your training provider overview</li>
        </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a href="#" title="Developer APIs">
      <h2>Developer APIs</h2>
    </a>
    <p>Integrate our APIs to help with recruitment or to track apprentice progress using your own systems. You can display adverts on multiple sites or automatically update training records.
      </p>
  </div>
  <div class="govuk-grid-column-one-half">
    <a href="tabs-simplified-table" title="Your feedback">
      <h2>Your feedback</h2>
      </a>
      <p>Your feedback from employers and apprentices.
        </p>
  </div>
</div>



{% endblock %}
