{% extends "layouts/main.html" %}
{% set serviceName %}
Get an apprenticeship adviser
{% endset%}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            Prototype
        </strong>
        <span class="govuk-phase-banner__text">
            This is not a real service
        </span>
    </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Department for Education</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Privacy notice: Get an apprenticeship adviser</h1>
        <span class="govuk-caption-m govuk-!-margin-bottom-7">Updated: 21st February 2024</span>
        <p class="govuk-body">This privacy notice explains how Department for Education (DfE) uses (processes) any
            personal data you give to
            us, or
            any that we may collect about you. This Privacy Notice should be read alongside the <a class="govuk-link"
                target="_blank" rel="noreferrer noopener"
                href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter">DfE
                Personal Information
                Charter (opens in new tab)</a>.</p>

        <p class="govuk-body">For the purposes of relevant data protection legislation, the <a class="govuk-link"
                target="_blank" rel="noreferrer noopener"
                href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter">DfE
                is the data controller
                for personal
                data (opens in new tab)</a> processed by
            DfE.</p>

        <p class="govuk-body">The ‘Get An Apprenticeship Adviser’ service is delivered by the Department for Education
            (DfE) and regional
            partners, as
            part of a project carried out in partnership with UCAS. The project aims to support more young people to
            discover and
            apply for apprenticeships, increase the number of apprenticeship opportunities available and to make it
            easier
            for
            employers to find apprentices.</p>

        <p class="govuk-body">If you would like:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>more information about how we process your personal data or your data protection rights</li>

            <li>to make a request about your information – for example to request a copy of your information or to ask
                for your
                information to be changed</li>

            <li>to contact our Data Protection Officer</li>

        </ul>

        <p class="govuk-body">You can contact us in the following ways:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>using our secure <a class="govuk-link" target="_blank" rel="noreferrer noopener"
                    href="https://www.gov.uk/contact-dfe">online contact form (opens in new tab)</a></li>


            <li>or in writing to:<br><br>Emma Wharram<br>

                Data Protection Officer<br>

                Department for Education (B2.28)<br>
                7 & 8 Wellington Place<br>
                Wellington Street<br>
                Leeds<br>
                LS1 4AW</p>
            </li>

        </ul>


        <h2 class="govuk-heading-m">The kinds of personal data we process about you</h2>

        <p class="govuk-body">When we ask you for personal data, we will:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>tell you the reasons we're asking for it

            <li>only ask for the information we need</li>

            <li>make sure we don't keep it for longer than necessary</li>

            <li>protect it and make sure only the appropriate people have access to it</li>

            <li>let you know if we'll share it with other organisations</li>

            <li>keep it up to date where necessary</li>

            <li>consider privacy risks when we're planning to change the way we use or hold it</li>

            <li>train our staff to ensure we use and protect it properly</li>

        </ul>

        <p class="govuk-body">In return, we ask you to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>give us accurate information</li>
            <li>tell us as soon as possible if there are any changes</li>
        </ul>

        <p class="govuk-body">We may process the following types of personal data about you:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>school/institution
            <li>name
            <li>address</li>
            <li>email</li>
            <li>telephone no</li>
            <li>date of birth</li>
            <li>occupation interests</li>
            <li>subject</li>

        </ul>

        <h2 class="govuk-heading-m">How we use your personal information and why we get information</h2>

        <p class="govuk-body">We will use your personal information to provide you with additional support with finding
            the right
            apprenticeship and
            the application process.</p>

        <p class="govuk-body">The lawful basis we rely on for this processing of your personal data is public task,
            under article 6(1)(e) of
            the UK
            GDPR. This allows us to process personal data when this is necessary to do our work as a government
            department.
            This is
            set out in section 100 and section 100(1A) of the Apprenticeships, Skills, Children and Learning Act 2009
            (ASCLA).</p>

        <h2 class="govuk-heading-m">How long we will keep your personal data</h2>

        <p class="govuk-body">We will only keep your personal data for as long as we need it. DfE has a disposal
            schedule for personal data
            based on
            the needs of the department and the law.</p>

        <p class="govuk-body">We will take necessary steps to keep your information safe. It will then be securely
            destroyed when it is no
            longer
            needed.</p>

        <p class="govuk-body">If you want to know how long we keep your information, please write to DfE Departmental
            Records Officer using
            our secure
            <a class="govuk-link" target="_blank" rel="noreferrer noopener" href="https://www.gov.uk/contact-dfe">online
                contact
                form (opens in new tab)</a>.
        </p>

        <h2 class="govuk-heading-m">How we share your personal data</h2>

        <p class="govuk-body">DfE is working with regional partners to deliver this service. By submitting the
            information, you agree that:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>we can share your information with our partner in your region</li>
            <li>our regional partner can contact you to discuss apprenticeships</li>
            <li>we can ask you for feedback on this service.</li>

        </ul>
        <p class="govuk-body">Based on your postcode, we'll share your information with your local regional partner:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>Lancashire: Lancashire Enterprise Partnership</li>
            <li>London: Greater London Authority</li>
            <li>The North East: North East LEP, care of North of Tyne Combined Authority.</li>
        </ul>
        <h2 class="govuk-heading-m">Your data protection rights</h2>

        <p class="govuk-body">Under data protection law, you have rights including:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>your right of access - You have the right to ask us for copies of your personal information.</li>

            <li>your right to rectification - You have the right to ask us to rectify personal information you think is
                inaccurate. You
                also have the right to ask us to complete information you think is incomplete.</li>

            <li>your right to erasure - You have the right to ask us to erase your personal information in certain
                circumstances.</li>

            <li>your right to restriction of processing - You have the right to ask us to restrict the processing of
                your
                personal
                information in certain circumstances.</li>

            <li>your right to object to processing - You have the right to object to the processing of your personal
                information
                in
                certain circumstances.</li>

            <li>your right to data portability - You have the right to ask that we transfer the personal information you
                gave us
                to
                another organisation, or to you, in certain circumstances.</li>
        </ul>

        <p class="govuk-body">You are not required to pay any charge for exercising your rights. If you make a request,
            we have one month to
            respond
            to you.</p>

        <h2 class="govuk-heading-m">How to make a subject access request (SAR)</h2>

        <p class="govuk-body">You have the right to ask for access to your personal information, known as a subject
            access request (SAR). See
            the <a class="govuk-link" target="_blank" rel="noreferrer noopener"
                href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter">
                DfE Personal Information Charter (opens in new tab)</a> for further details.</p>

        <p class="govuk-body">To make a SAR, you can use the <a class="govuk-link" target="_blank"
                rel="noreferrer noopener"
                href="https://form.education.gov.uk/service/Contact_the_Department_for_Education">DfE
                contact
                form (opens in new tab)</a>.</p>

        <p class="govuk-body">Alternatively, you can make a SAR in writing. Post your request to:</p>

        <p class="govuk-body">Data Protection Officer<br>
            Department for Education<br>
            Piccadilly Gate<br>
            Store Street<br>
            Manchester<br>
            M1 2WD<br>
            United Kingdom</p>

        <p class="govuk-body">Include as much information as you can about what information you need and the years you
            need the information
            for. If
            possible, tell us which part of the department holds the information. You'll also need to tell us your
            telephone
            number
            and address.
        </p>

        <p class="govuk-body">We may need to check your identity and your right to access the information you're
            requesting. This means we
            might ask
            for a copy of the identification pages of your passport or photo driving licence and proof of your current
            address.</p>

        <p class="govuk-body">We'll try to respond to your request within 1 month. However, if your request is complex,
            we may extend the
            period by a
            further 2 months, but we'll tell you if this is the case.</p>

        <h2 class="govuk-heading-m">How to complain</h2>

        <p class="govuk-body">If you have any concerns about our use of your personal information, you can make a
            complaint to the Data
            Protection
            Officer at:</p>

        <p class="govuk-body">Department for Education (B2.28)<br>
            7 & 8 Wellington Place<br>
            Wellington Street<br>
            Leeds<br>
            LS1 4AW</p>

        <p class="govuk-body">You can also complain to the ICO if you are unhappy with how we have used your data by
            writing to:</p>

        <p class="govuk-body">Information Commissioner's Office<br>
            Wycliffe House<br>
            Water Lane<br>
            Wilmslow<br>
            Cheshire<br>
            SK9 5AF</p>

        <p class="govuk-body">Helpline number: 0303 123 1113</p>

        <p class="govuk-body">ICO website: <a class="govuk-link"
                href="https://www.ico.org.uk">https://www.ico.org.uk</a></p>

        <h2 class="govuk-heading-m">Changes to this privacy notice</h2>

        <p class="govuk-body">We may change this privacy notice and we encourage you to check this privacy
            notice from time to time.</p>

        <p class="govuk-body">Date last updated: 21st February 2024</p>

    </div>
</div>

{% endblock %}