{% extends "layouts/main.html" %}
{% set serviceName %}
Get an apprenticeship adviser
{% endset%}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            Prototype
        </strong>
        <span class="govuk-phase-banner__text">
            This is not a real service
        </span>
    </p>
</div>
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if data['change'] == "true" %}
        <form action="/feature/triage-form/v6/check-your-answers/action" method="post" novalidate>
            {% else %}
            <form action="establishment" method="post" novalidate>
                {% endif %}

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-heading-l">What areas of work interest you?</h1>
                        </legend>

                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <h2 class="govuk-heading-m">Agriculture, environment and animal care</h2>
                            <div class="govuk-checkboxes__item govuk-!-padding-bottom-5">
                                <input class="govuk-checkboxes__input" id="sector-1" name="sector" type="checkbox"
                                    value="Agriculture, environmental and animal care">
                                <label class="govuk-label govuk-checkboxes__label" for="sector-1">
                                    Agriculture, environmental and animal care
                                </label>
                                <div id="agriculture-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                    Farmer, horticulture, vet and similar
                                </div>
                            </div>


                            <h2 class="govuk-heading-m">Business, sales and legal</h2>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="sector-2" name="sector" type="checkbox"
                                    value="Business and administration">
                                <label class="govuk-label govuk-checkboxes__label" for="sector-2">
                                    Business and administration
                                </label>
                                <div id="business-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                    Administrator, project manager, human resources and similar
                                </div>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="sector-4" name="sector" type="checkbox"
                                    value="Finance and accounting">
                                <label class="govuk-label govuk-checkboxes__label" for="sector-4">
                                    Finance and accounting
                                </label>
                                <div id="legal-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                    Financial advisor, payroll assistant and similar
                                </div>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="sector-4a" name="sector" type="checkbox"
                                    value="Law and legal studies">
                                <label class="govuk-label govuk-checkboxes__label" for="sector-4a">
                                    Law and legal studies
                                </label>
                                <div id="legal-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                    Solicitor, barrister and similar
                                </div>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="sector-3" name="sector" type="checkbox"
                                    value="Sales, marketing and procurement">
                                <label class="govuk-label govuk-checkboxes__label" for="sector-3">
                                    Sales, marketing and procurement
                                </label>
                                <div id="sales-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                    Sales manager, digital marketer and similar
                                </div>
                            </div>

                            <h2 class="govuk-heading-m govuk-!-padding-top-6">Care, health and science</h2>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="sector-6" name="sector" type="checkbox"
                                    value="Care services">
                                <label class="govuk-label govuk-checkboxes__label" for="sector-6">
                                    Care services
                                </label>
                                <div id="care-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                    Social worker, play therapist, adult carer and similar
                                </div>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="sector-5" name="sector" type="checkbox"
                                    value="Hair and beauty">
                                <label class="govuk-label govuk-checkboxes__label" for="sector-5">
                                    Hair and beauty
                                </label>
                                <div id="hair-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                    Hairdresser, barber, holistic therapist and similar
                                </div>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="sector-7" name="sector" type="checkbox"
                                    value="Health and science">
                                <label class="govuk-label govuk-checkboxes__label" for="sector-7">
                                    Health and science
                                </label>
                                <div id="health-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                    Ambulance worker, sports coach, clinical scientist and similar
                                </div>
                            </div>

                            <h2 class="govuk-heading-m govuk-!-padding-top-6">Catering and hospitality</h2>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="sector-8" name="sector" type="checkbox"
                                    value="Catering and hospitality">
                                <label class="govuk-label govuk-checkboxes__label" for="sector-8">
                                    Catering and hospitality
                                </label>
                                <div id="catering-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                    Chef, baker, hospitality team member and similar
                                </div>
                            </div>

                            <h2 class="govuk-heading-m govuk-!-padding-top-6">Construction, engineering and buildings
                            </h2>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="sector-9" name="sector" type="checkbox"
                                    value="Construction and the built environment">
                                <label class="govuk-label govuk-checkboxes__label" for="sector-9">
                                    Construction and the built environment
                                </label>
                                <div id="construction-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                    Bricklayer, smart home technician, architect and similar
                                </div>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="sector-10" name="sector" type="checkbox"
                                    value="Engineering and manufacturing">
                                <label class="govuk-label govuk-checkboxes__label" for="sector-10">
                                    Engineering and manufacturing
                                </label>
                                <div id="engineering-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                    Autocare technician, welder, rail engineer and similar
                                </div>
                            </div>

                            <h2 class="govuk-heading-m govuk-!-padding-top-6">Creative and design</h2>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="sector-11" name="sector" type="checkbox"
                                    value="Creative and design">
                                <label class="govuk-label govuk-checkboxes__label" for="sector-11">
                                    Creative and design
                                </label>
                                <div id="creative-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                    Music technologist, camera technician, graphic designer and similar
                                </div>
                            </div>

                            <h2 class="govuk-heading-m govuk-!-padding-top-6">Digital</h2>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="sector-12" name="sector" type="checkbox"
                                    value="Digital and IT">
                                <label class="govuk-label govuk-checkboxes__label" for="sector-12">
                                    Digital and IT
                                </label>
                                <div id="digital-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                    Cyber security officer, software engineer, data scientist and similar
                                </div>
                            </div>

                            <h2 class="govuk-heading-m govuk-!-padding-top-6">Education and early years</h2>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="sector-13" name="sector" type="checkbox"
                                    value="Education, teaching, and childcare">
                                <label class="govuk-label govuk-checkboxes__label" for="sector-13">
                                    Education, teaching, and childcare
                                </label>
                                <div id="education-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                    Teaching assistant, early years educator and similar
                                </div>
                            </div>

                            <h2 class="govuk-heading-m govuk-!-padding-top-6">Protective services (emergency and
                                uniformed
                                services)</h2>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="sector-14" name="sector" type="checkbox"
                                    value="Protective services (emergency and uniformed services)">
                                <label class="govuk-label govuk-checkboxes__label" for="sector-14">
                                    Protective services (emergency and uniformed services)
                                </label>
                                <div id="protective-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                    Security, firefighter, coastguard and similar
                                </div>
                            </div>

                            <h2 class="govuk-heading-m govuk-!-padding-top-6">Transport and logistics</h2>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="sector-15" name="sector" type="checkbox"
                                    value="Transport and logistics">
                                <label class="govuk-label govuk-checkboxes__label" for="sector-15">
                                    Transport and logistics
                                </label>
                                <div id="transport-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                    Aviation ground handler, train driver, fleet manager and similar
                                </div>
                            </div>

                        </div>
                    </fieldset>
                </div>



                <button class="govuk-button" data-module="govuk-button">Continue</button>

            </form>

    </div>
</div>

{% endblock %}