{% extends "layouts/main.html" %}
{% set serviceName %}

{% endset%}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">

        <p class="govuk-body">Hello Lloyd,</p>

        <p class="govuk-body"><b>Our team of apprenticeship advisers is here to help.</b></p>

        <p class="govuk-body">Our advisers offer free support by email or phone. You can talk about:  </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>whether an apprenticeship is right for you</li>
            <li>finding an apprenticeship based on your interests</li>
            <li>applying and interviewing</li>
        </ul>

        <p class="govuk-body">Your adviser will be from near where you live. They’ll have contacts with local business
            who are looking for
            apprentices.</p>

        <p class="govuk-body">Get an apprenticeship adviser here:</p>

        <p class="govuk-body"><a href="start-page-ucas"
                class="govuk-link govuk-link--no-visited-state">https://get-an-apprenticeship-adviser.service.gov.uk/ref?987467dnhe</a>
        </p>

        <p class="govuk-body">You're receiving this email because you chose to share your details from UCAS with the
            Department for Education.</p>

        <p class="govuk-body">To help keep your data secure, please don't forward this email. We won't send you any
            other emails, unless you
            sign up
            for an adviser.</p>

        <p class="govuk-body">Kind regards,<br>
            Department for Education<br><br></p>

        <hr>

        <p class="govuk-body"><br>Learn how we use your data in our <a href="privacy-policy"
                class="govuk-link govuk-link--no-visited-state">privacy policy</a>. We’ll keep your data until 31
            October
            2024, then up to another
            year to
            assess the performance of this service. If you want to view your data, ask for your data to be deleted,
            or
            to
            withdraw
            from this service, contact us at <a
                href="mailto:engage.apprenticeships@education.gov.uk?subject=Get an apprenticeship adviser service"
                class="govuk-link govuk-link--no-visited-state">engage.apprenticeships@education.gov.uk</a>.
        </p>
    </div>
</div>

{% endblock %}