{% extends "layouts/employer-header.html" %}

{% block beforeContent %}
{{super()}}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" action="/feature/multiple-locations/v4/add-new-location">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="existing-location-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Add locations already in your account
                        </h1>
                    </legend>
                    <div id="existing-location-hint" class="govuk-hint">
                        You'll be able to add new locations at the next step.
                    </div>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="selected-organisation-id"
                                name="selected-location" type="checkbox" value="Organisation {{i}}">
                            <label class="govuk-label govuk-checkboxes__label" for="selected-organisation-id">
                                72 Guild Street, Coventry, SE23 6FH
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="selected-organisation-id"
                                name="selected-location" type="checkbox" value="Organisation {{i}}">
                            <label class="govuk-label govuk-checkboxes__label" for="selected-organisation-id">
                                94 School Lane, Lincoln, LN70 9PC</li>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="selected-organisation-id"
                                name="selected-location" type="checkbox" value="Organisation {{i}}">
                            <label class="govuk-label govuk-checkboxes__label" for="selected-organisation-id">
                                91 Mill Lane, Oxford, OX26 5KI</li>
                            </label>
                        </div>
                        {# <div class="govuk-checkboxes__divider">or</div>
                        <div class="govuk-checkboxes__item" data-target="business-name-vacancy-panel">
                            <input class="govuk-checkboxes__input" id="different-location" name="selected-location"
                                type="checkbox" value="different-location">
                            <label class="govuk-label govuk-checkboxes__label" for="different-location">A new
                                location</label>
                        </div> #}
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">Continue</button>
                <a class="govuk-link" href="../dashboard">Cancel</a>
            </div>

        </form>

    </div>
</div>


{% endblock %}