{% extends "layouts/employer-header.html" %}

{% block beforeContent %}
{{super()}}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" action="/feature/multiple-locations/v4/action/">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Where {% if data.numberOfPositions > 1 %}will the 6 positions{% else %}will the apprentice{%
                            endif %} work?
                        </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="selected-organisation-id" name="selected-location"
                                type="radio" value="Organisation {{i}}">
                            <label class="govuk-label govuk-radios__label" for="selected-organisation-id">
                                72 Guild Street, Coventry, SE23 6FH
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="selected-organisation-id" name="selected-location"
                                type="radio" value="Organisation {{i}}">
                            <label class="govuk-label govuk-radios__label" for="selected-organisation-id">
                                94 School Lane, Lincoln, LN70 9PC</li>
                                </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="selected-organisation-id" name="selected-location" type="radio"
                                        value="Organisation {{i}}">
                                    <label class="govuk-label govuk-radios__label" for="selected-organisation-id">
                                        94 School Lane, Lincoln, LN70 9PC</li>
                            </label>
                        </div>
                        <div class="govuk-radios__item" data-target="business-name-vacancy-panel">
                            <input class="govuk-radios__input" id="different-location" name="selected-location"
                                type="radio" value="different-location">
                            <label class="govuk-label govuk-radios__label" for="different-location">A different
                                location</label>
                        </div>
                        <div class="govuk-radios__divider">or</div>
                        <div class="govuk-radios__item" data-target="business-name-vacancy-panel">
                            <input class="govuk-radios__input" id="multiple-locations" name="selected-location"
                                type="radio" value="multiple-locations" aria-describedby="multiple-locations-hint">
                            <label class="govuk-label govuk-radios__label" for="multiple-locations">This apprenticeship
                                is available in more
                                than one location</label>
                            <div id="multiple-locations-hint" class="govuk-hint govuk-radios__hint">
                                For example, you have locations in different cities. An apprentice will work from one of
                                your locations.
                            </div>

                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">Continue</button>
                <a class="govuk-link" href="../dashboard">Cancel</a>
            </div>

        </form>

    </div>
</div>


{% endblock %}