{% extends "layouts/main.html" %}

{% block beforeContent %}
{{super()}}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}
{% endblock %}

{% set pageName="Provider feedback design history" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{pageName}}</h1>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <ol class="govuk-prototype-kit-task-list">
                  <li>
                      <h2 class="govuk-prototype-kit-task-list__section">
                          Version 2
                          </h2>
                          <h3 class="govuk-heading-s">Updates</h3>

                          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
                            <li>Updated the prototype with feedback from design crits, including:</li>
                              <ul>
                                <li>Turned the 'poor' rating stars a burnt orange (was grey).</li>
                                <li>Added more GOV.UK classes to the headings, to improve sizing and spacing.</li>
                                <li>Added a 'year to date' entry in the prototype data.</li>
                                <li>Added table captions.</li>
                                <li>Updated banner text to include a H3.</li>
                                <li>Made date format consistent (Day, Month, Year).</li>
                                <li>Removed 'Your employer rating is calculated...' copy. Somewhat redundant now.</li>
                                <li>Consolodated terminology to refer to them as 'reviews'.</li>
                                </ul>
                            <li>Implemented the select component to function as a year-picker.</li>
                            <li>Implemented the switchable feedback tables with some dummy data. Also includes a CSS file borrowed from their original web location.</li>
                            <li>Added an example of what the 'null' state could look like for years with no feedback.</li>
                            <li>Created four prototype variants (linked below) to test both the year picker and the table display features.</li>
                            <li>Created a prototype version of the Training Provider homepage to go before each prototype variant.</li>
                          </ul>
                          <h3>Prototype variants for feature testing:</h3>
                          <ul class="govuk-prototype-kit-task-list__items ">
                              <li class="govuk-prototype-kit-task-list__item">
                                  <span class="govuk-prototype-kit-task-list__task-name">
                                      <a href="v2/pre-account-page-tabs-simplified-table" aria-describedby="read-declaration-status"
                                          class="govuk-link--no-visited-state">
                                          Variant 1: Tabs + Simplified Table
                                      </a>
                                  </span>
                                  <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--green" id="eligibility-status">User research</strong>
                              </li>
                              <li class="govuk-prototype-kit-task-list__item">
                                  <span class="govuk-prototype-kit-task-list__task-name">
                                      <a href="v2/pre-account-page-tabs-switchable-table" aria-describedby="read-declaration-status"
                                          class="govuk-link--no-visited-state">
                                          Variant 2: Tabs + Switchable Table
                                      </a>
                                  </span>
                                  <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--green" id="eligibility-status">User research</strong>
                              </li>
                              <li class="govuk-prototype-kit-task-list__item">
                                  <span class="govuk-prototype-kit-task-list__task-name">
                                      <a href="v2/pre-account-page-select-simplified-table" aria-describedby="read-declaration-status"
                                          class="govuk-link--no-visited-state">
                                          Variant 3: Select + Simplified Table
                                      </a>
                                  </span>
                                  <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--green" id="eligibility-status">User research</strong>
                              </li>
                              <li class="govuk-prototype-kit-task-list__item">
                                  <span class="govuk-prototype-kit-task-list__task-name">
                                      <a href="v2/pre-account-page-select-switchable-table" aria-describedby="read-declaration-status"
                                          class="govuk-link--no-visited-state">
                                          Varaint 4: Select + Switchable Table
                                      </a>
                                  </span>
                                  <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--green" id="eligibility-status">User research</strong>
                              </li>
                          </ul>
                          </li>

                    <li>
                        <h2 class="govuk-prototype-kit-task-list__section">
                            Version 1
                            </h2>
                            <h3 class="govuk-heading-s">Updates</h3>

                            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
                                <li>Initial prototype setup.</li>
                                <li>Prototype created for provider feedback page in provider account.</li>
                                <li>Feedback simplified to use a single 'score' value.</li>
                                <li>Tabs added to hold data for each year of feedback.</li>
                            </ul>
                            <ul class="govuk-prototype-kit-task-list__items ">
                                <li class="govuk-prototype-kit-task-list__item">
                                    <span class="govuk-prototype-kit-task-list__task-name">
                                        <a href="v1/provider-feedback" aria-describedby="read-declaration-status"
                                            class="govuk-link--no-visited-state">
                                            Provider feedback page
                                        </a>
                                    </span>
                                    <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--blue" id="eligibility-status">Superseded</strong>
                                </li>
                            </ul>
                            </li>
                            <!-- Reminderfor the future: add new versions with a new LI, like above -->
                </ol>
            </div>
        </div>
    </div>
</div>

{% endblock %}
