{% extends "layouts/main.html" %}

{% block beforeContent %}
{{super()}}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}
{% endblock %}

{% set pageName="Provider feedback design history" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{pageName}}</h1>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <ol class="govuk-prototype-kit-task-list">
                    <li>
                        <h2 class="govuk-prototype-kit-task-list__section">
                            Version 1
                            </h2>
                            <h3 class="govuk-heading-s">Updates</h3>

                            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
                                <li>Initial prototype setup.</li>
                                <li>Prototype created for provider feedback page in provider account.</li>
                                <li>Feedback simplified to use a single 'score' value.</li>
                                <li>Tabs added to hold data for each year of feedback.</li>
                            </ul>
                            <ul class="govuk-prototype-kit-task-list__items ">
                                <li class="govuk-prototype-kit-task-list__item">
                                    <span class="govuk-prototype-kit-task-list__task-name">
                                        <a href="v1/provider-feedback" aria-describedby="read-declaration-status"
                                            class="govuk-link--no-visited-state">
                                            Provider feedback page
                                        </a>
                                    </span>
                                    <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--blue" id="eligibility-status">In design</strong>
                                </li>
                            </ul>
                            </li>
                            <!-- Reminderfor the future: add new versions with a new LI, like above -->
                </ol>
            </div>
        </div>
    </div>
</div>

{% endblock %}
