{% extends "layouts/main.html" %}

{% block beforeContent %}
{{super()}}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}
{% endblock %}

{% set pageName="Provider feedback design history" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{pageName}}</h1>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <ol class="govuk-prototype-kit-task-list">

                  <li>
                      <h2 class="govuk-prototype-kit-task-list__section">
                          Version 5
                          </h2>
                          <h3 class="govuk-heading-s">Updates</h3>
                          <p>Changes following latest content and functionality discussions:</p>
                          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
                            <li>Two new prototypes to evaluate options for display 'Overall ratings'</li>
                            <li>Removed details component. Explanatory content added to each tab/area.</li>
                            <li>Heading and content adjustments</li>
                            <li>Content navigation brought beneath H1</li>
                            <li>Change in language in the apprentice tabs from 'agreed with this statement' to 'was/was not to a reasonable standard'</li>
                            <li>Inset text component used for link to FAA</li>
                            <li>Employer and Apprentice reviews now have different 'no data' messages</li>
                          </ul>
                          <ul class="govuk-prototype-kit-task-list__items ">
                              <li class="govuk-prototype-kit-task-list__item">
                                  <span class="govuk-prototype-kit-task-list__task-name">
                                      <a href="v5/overall-rating-grey-box" aria-describedby="read-declaration-status"
                                          class="govuk-link--no-visited-state">
                                          Overall ratings, grey box
                                      </a>
                                  </span>
                                  <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--green" id="eligibility-status">Design</strong>
                              </li>
                              <li class="govuk-prototype-kit-task-list__item">
                                  <span class="govuk-prototype-kit-task-list__task-name">
                                      <a href="v5/overall-rating-tab" aria-describedby="read-declaration-status"
                                          class="govuk-link--no-visited-state">
                                          Overall ratings, tab
                                      </a>
                                  </span>
                                  <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--green" id="eligibility-status">Design</strong>
                              </li>
                          </ul>
                          </li>

                  <li>
                      <h2 class="govuk-prototype-kit-task-list__section">
                          Version 4
                          </h2>
                          <h3 class="govuk-heading-s">Updates</h3>
                          <p>Changes made following collaboration with Chris Lightfoot, the new Content Designer on our workstream:</p>
                          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
                            <li>Added a 'Contents' block with anchor links</li>
                            <li>Added a new opening paragraph</li>
                            <li>Reworded the H2s</li>
                            <li>Moved 'How this rating is calculated' detail into the tabs themselves. Also updated anchor text.</li>
                          </ul>
                          <ul class="govuk-prototype-kit-task-list__items ">
                              <li class="govuk-prototype-kit-task-list__item">
                                  <span class="govuk-prototype-kit-task-list__task-name">
                                      <a href="v4/pre-account-page-tabs-switchable-table" aria-describedby="read-declaration-status"
                                          class="govuk-link--no-visited-state">
                                          Version 4 design and pre-page
                                      </a>
                                  </span>
                                  <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--blue" id="eligibility-status">Superseded</strong>
                              </li>
                          </ul>
                          </li>

                  <li>
                      <h2 class="govuk-prototype-kit-task-list__section">
                          Version 3
                          </h2>
                          <h3 class="govuk-heading-s">Updates</h3>

                          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
                            <li>Tabs and switchable table design brought forward into v3 after emerging as the clear favourite during user research</li>
                            <li>Feedback link on dashboard page kept in the same location after testing well</li>
                            <li>Added a detail component for 'How your feedback is calculated'</li>
                            <li>Added fifth tab to each feedback set, to represent the maximum number of tabs</li>
                          </ul>
                          <ul class="govuk-prototype-kit-task-list__items ">
                              <li class="govuk-prototype-kit-task-list__item">
                                  <span class="govuk-prototype-kit-task-list__task-name">
                                      <a href="v3/pre-account-page-tabs-switchable-table" aria-describedby="read-declaration-status"
                                          class="govuk-link--no-visited-state">
                                          Version 3 design and pre-page
                                      </a>
                                  </span>
                                  <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--blue" id="eligibility-status">Superseded</strong>
                              </li>
                          </ul>
                          </li>

                  <li>
                      <h2 class="govuk-prototype-kit-task-list__section">
                          Version 2
                          </h2>
                          <h3 class="govuk-heading-s">Updates</h3>

                          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
                            <li>Updated the prototype with feedback from design crits, including:</li>
                              <ul>
                                <li>Turned the 'poor' rating stars a burnt orange (was grey).</li>
                                <li>Added more GOV.UK classes to the headings, to improve sizing and spacing.</li>
                                <li>Added a 'year to date' entry in the prototype data.</li>
                                <li>Added table captions.</li>
                                <li>Updated banner text to include a H3.</li>
                                <li>Made date format consistent (Day, Month, Year).</li>
                                <li>Removed 'Your employer rating is calculated...' copy. Somewhat redundant now.</li>
                                <li>Consolodated terminology to refer to them as 'reviews'.</li>
                                </ul>
                            <li>Implemented the select component to function as a year-picker.</li>
                            <li>Implemented the switchable feedback tables with some dummy data. Also includes a CSS file borrowed from their original web location.</li>
                            <li>Added an example of what the 'null' state could look like for years with no feedback.</li>
                            <li>Created four prototype variants (linked below) to test both the year picker and the table display features.</li>
                            <li>Created a prototype version of the Training Provider homepage to go before each prototype variant.</li>
                          </ul>
                          <h3>Prototype variants for feature testing:</h3>
                          <ul class="govuk-prototype-kit-task-list__items ">
                              <li class="govuk-prototype-kit-task-list__item">
                                  <span class="govuk-prototype-kit-task-list__task-name">
                                      <a href="v2/pre-account-page-tabs-simplified-table" aria-describedby="read-declaration-status"
                                          class="govuk-link--no-visited-state">
                                          Variant 1: Tabs + Simplified Table
                                      </a>
                                  </span>
                                  <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--blue" id="eligibility-status">Superseded</strong>
                              </li>
                              <li class="govuk-prototype-kit-task-list__item">
                                  <span class="govuk-prototype-kit-task-list__task-name">
                                      <a href="v2/pre-account-page-tabs-switchable-table" aria-describedby="read-declaration-status"
                                          class="govuk-link--no-visited-state">
                                          Variant 2: Tabs + Switchable Table
                                      </a>
                                  </span>
                                  <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--blue" id="eligibility-status">Superseded</strong>
                              </li>
                              <li class="govuk-prototype-kit-task-list__item">
                                  <span class="govuk-prototype-kit-task-list__task-name">
                                      <a href="v2/pre-account-page-select-simplified-table" aria-describedby="read-declaration-status"
                                          class="govuk-link--no-visited-state">
                                          Variant 3: Select + Simplified Table
                                      </a>
                                  </span>
                                  <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--blue" id="eligibility-status">Superseded</strong>
                              </li>
                              <li class="govuk-prototype-kit-task-list__item">
                                  <span class="govuk-prototype-kit-task-list__task-name">
                                      <a href="v2/pre-account-page-select-switchable-table" aria-describedby="read-declaration-status"
                                          class="govuk-link--no-visited-state">
                                          Variant 4: Select + Switchable Table
                                      </a>
                                  </span>
                                  <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--blue" id="eligibility-status">Superseded</strong>
                              </li>
                          </ul>
                          </li>

                    <li>
                        <h2 class="govuk-prototype-kit-task-list__section">
                            Version 1
                            </h2>
                            <h3 class="govuk-heading-s">Updates</h3>

                            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
                                <li>Initial prototype setup.</li>
                                <li>Prototype created for provider feedback page in provider account.</li>
                                <li>Feedback simplified to use a single 'score' value.</li>
                                <li>Tabs added to hold data for each year of feedback.</li>
                            </ul>
                            <ul class="govuk-prototype-kit-task-list__items ">
                                <li class="govuk-prototype-kit-task-list__item">
                                    <span class="govuk-prototype-kit-task-list__task-name">
                                        <a href="v1/provider-feedback" aria-describedby="read-declaration-status"
                                            class="govuk-link--no-visited-state">
                                            Provider feedback page
                                        </a>
                                    </span>
                                    <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--blue" id="eligibility-status">Superseded</strong>
                                </li>
                            </ul>
                            </li>
                            <!-- Reminderfor the future: add new versions with a new LI, like above -->
                </ol>
            </div>
        </div>
    </div>
</div>

{% endblock %}
