{% extends "layouts/employer-header.html" %}

{% block beforeContent %}
{{super()}}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}
{% endblock %}

{% block content %}

<!-- {{minWage}} -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Set as competitive
        </h1>

        <p class="govuk-body">You can only set a wage as competitive if you're paying more than <a
                href="https://www.gov.uk/national-minimum-wage-rates" rel="noopener" target="_blank"> ​National Minimum
                Wage (opens in a new tab)​</a>.</p>

        {# <p class="govuk-body">For this apprenticeship, you'll need to pay more than £5,752.76 to £11,362.</p> #}

        <form method="post" action="/feature/competitive-salary/v3/competitive-min-wage/action">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="min-wage-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Is your salary above National Minimum Wage?
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="above-mimimum-wage--yes" name="above-mimimum-wage"
                                type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="above-mimimum-wage--yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="above-mimimum-wage--no" name="above-mimimum-wage"
                                type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="above-mimimum-wage--no">
                                No
                            </label>
                        </div>
                    </div>

                </fieldset>
            </div>

            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>

                <a href="../dashboard" class="govuk-link" href="#">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}