{% extends "layouts/employer-header.html" %}

{% block beforeContent %}
{{super()}}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}
{% endblock %}

{% block content %}

<!-- {{minWage}} -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Set wage yourself
        </h1>

        <p class="govuk-body"> From 1 April 2023, <a href="https://www.gov.uk/national-minimum-wage-rates"
                rel="noopener" target="_blank">​National Minimum
                Wage
                for apprentices (opens in a new tab)​</a> is £5.28
            an hour.</p>

        <p class="govuk-body">You must pay more than this figure. Since your apprenticeship will be 23 hours a week,
            you'll need to set a wage that's more than £5,752.</p>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Current National Minimum Wage rates
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">These rates are for the National Living Wage (for those aged 23 and over) and the
                    National
                    Minimum Wage (for
                    those of
                    at least school leaving age). The rates change on 1 April every year.</p>
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Rate
                                    change</span>
                            </th>
                            <th scope="col" class="govuk-table__header">23 and over</th>
                            <th scope="col" class="govuk-table__header">21 to 22</th>
                            <th scope="col" class="govuk-table__header">18 to 20</th>
                            <th scope="col" class="govuk-table__header">Under 18</th>
                            <th scope="col" class="govuk-table__header">Apprentice</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__cell" scope="row">April 2023</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£10.42</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£10.18</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£7.49</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£5.28</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£5.28</td>
                        </tr>
                    </tbody>
                </table>
                <h2 class="govuk-heading-m">Apprentices</h2>
                <p class="govuk-body">Apprentices are entitled to the apprentice rate if they’re either:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>aged under 19</li>
                    <li>aged 19 or over and in the first year of their apprenticeship</li>
                </ul>
            </div>
        </details>

        <div class="govuk-form-group govuk-!-margin-top-7">
            <form method="post" action="extra-info-pay">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        How much will the apprentice be paid?
                    </legend>
                    <div class="govuk-input__wrapper">
                        <div class="govuk-input__prefix" aria-hidden="true">£</div>
                        <input class="govuk-input govuk-input--width-5 {% if data.error == " wages"
                            %}govuk-input--error{% endif %}" id="FixedWageYearlyAmount" name="FixedWageYearlyAmount"
                            type="text" {% if data.FixedWageYearlyAmount %}value="{{data.FixedWageYearlyAmount}}" {%
                            endif %}>
                        <div class="govuk-input__suffix" aria-hidden="true">yearly</div>
                    </div>

                </fieldset>
        </div>

        <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>

            <a href="../dashboard" class="govuk-link" href="#">Cancel</a>
        </div>
        </form>
    </div>
</div>

{% endblock %}