{% extends "layouts/main.html" %}
{% set serviceName %}
Get an apprenticeship adviser
{% endset%}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            Prototype
        </strong>
        <span class="govuk-phase-banner__text">
            This is not a real service
        </span>
    </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Details sent to our team
            </h1>
            <div class="govuk-panel__body">
                You’ll hear from an adviser soon
            </div>
        </div>

        <h2 class="govuk-heading-m govuk-!-margin-top-9">What happens next</h2>
        <p class="govuk-body">We’ve shared your information with the team in your area.</p>
        <p class="govuk-body">An adviser will be in contact within 3 working days.</p>

        <h2 class="govuk-heading-m govuk-!-margin-top-7">Other resources</h2>
        <p class="govuk-body">Find out more about <a href="https://www.gov.uk/become-apprentice" class="govuk-link">how
                apprenticeships work and what
                you’ll get</a>.
        </p>
        <p class="govuk-body">You can search and apply for all apprenticeships in England on <a
                href="https://www.gov.uk/apply-apprenticeship" class="govuk-link">Find an apprenticeship</a>.</p>


    </div>
</div>

<a href="ucas-confirmation-email" role="button" draggable="false" class="govuk-button govuk-button--secondary"
    data-module="govuk-button" style="position:absolute; top:160px; right:30px;">
    View confirmation email design
</a>

{% endblock %}