{% extends "layouts/main.html" %}
{% set serviceName %}

{% endset%}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">

        <p class="govuk-body">Hello Lloyd,</p>

        <p class="govuk-body">We've shared your details with the apprenticeship adviser team in your area.</p>

        <p class="govuk-body">An adviser will contact you in the next 3 working days.</p>

        <p class="govuk-body">Kind regards,<br>
            Department for Education<br><br></p>

        <hr>

        <p class="govuk-body"><br>Learn how we use your data in our <a
                href="https://www.gov.uk/government/publications/privacy-information-key-stage-4-and-5-and-adult-education"
                class="govuk-link govuk-link--no-visited-state">privacy policy</a>. We’ll keep your data until 31
            October
            2024, then up to another
            year to
            assess the performance of this service. If you want to view your data, ask for your data to be deleted,
            or
            to
            withdraw
            from this service, contact us at <a
                href="mailto:engage.apprenticeships@education.gov.uk?subject=Get an apprenticeship adviser service"
                class="govuk-link govuk-link--no-visited-state">engage.apprenticeships@education.gov.uk</a>.
        </p>
    </div>
</div>

{% endblock %}