{% extends "layouts/main.html" %}
{% set serviceName %}
Get help finding apprenticeships with Early Connect
{% endset%}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            Prototype
        </strong>
        <span class="govuk-phase-banner__text">
            This is not a real service
        </span>
    </p>
</div>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Get help finding apprenticeships with Early Connect</h1>
        <p class="govuk-body">You can use this service to access apprenticeship matching services, to connect with
            relevant opportunities in your
            local area.</p>

        <h2 class="govuk-heading-l govuk-!-margin-top-7">Confirm your email address</h2>
        <p class="govuk-body">Your email address has been linked with a UCAS account. Please provide the
            associated
            email address ending
            <b>****on@domain.com</b>.
        </p>

        <p class="govuk-body">To confirm it is your email address we will send you a code.
        </p>

        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Don't have access to this email address?
                </span>
            </summary>
            <div class="govuk-details__text">
                If you do not know or have access to this email address you can <a class="govuk-link"
                    href="start-page">create a request with a new email address</a>
            </div>
        </details>

        <form action="confirm-your-email-ucas" method="post" novalidate>
            <div class="govuk-form-group govuk-!-margin-top-7">
                <label class="govuk-label govuk-label--m" for="email-address">
                    Email address
                </label>
                <input class="govuk-input govuk-input--width-20" id="email-address" name="email-address" type="email"
                    spellcheck="false" autocomplete="email">
            </div>

            <input name="source" value="ucas" type="hidden">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>




    </div>
</div>

{% endblock %}