.app-shortlist-banner {
    background: #fff;
    display: none;
}

.app-shortlist-banner__fixed {
    position: fixed;
    display: block;
    top: 0;
    border: 1px solid #b1b4b6;
    border-top: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    padding: 10px 15px;
    left: 0;
    width: 100%;
    max-width: 1020px;
}

@media (min-width: 40.0625em) {
    .app-shortlist-banner__fixed {
        padding: 12px 30px;
    }
}

@media (min-width: 1020px) {
    .app-shortlist-banner__fixed {
        left: auto;
        margin-left: -30px;
    }
}

.app-back-to-top-link__icon {
    display: inline-block;
    width: .6em;
    height: .8em;
    margin-top: -4px;
    margin-right: 3px;
    vertical-align: middle;
}

@media (min-width: 40.0625em) {
    .app-view-shortlist-link {
        float: right;
        margin-top: 15px;
    }
}

.app-shortlist-banner .app-view-shortlist-link {
    margin-top: 0;
    float: right;
}

.app-view-shortlist-link__number {
    color: #fff;
    background-color: #1d70b8;
    display: inline-block;
    position: relative;
    padding: .3em;
    font-size: .8em;
    margin-left: .2em;
    margin-top: -.2em;
    border-radius: 50%;
    line-height: .8;
    height: .8em;
    min-width: .8em;
    text-align: center;
    vertical-align: middle;
}

.app-view-shortlist-link__number-update {
    animation-name: colourchange;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes colourchange
{
  from  {background: #ffdd00}
  to    {background: #1d70b8}
}

.app-view-shortlist-link:hover .app-view-shortlist-link__number {
    background: #003078;
}

.app-view-shortlist-link:active .app-view-shortlist-link__number,
.app-view-shortlist-link:focus .app-view-shortlist-link__number {
    background: #0b0c0c;
}

.das-search-form .autocomplete__input {
    min-height: 40px;
    border-right-width: 0;
}

.app-provider-shortlist-control {
    margin-top: 15px;
    margin-bottom: -10px;
}

.app-provider-shortlist-control--inline {
    margin: 0;
}

@media (min-width: 40.0625em) {
    .app-provider-shortlist-control {
        text-align: right;
        margin: 0;
    }
    .app-provider-shortlist-control--inline {
        text-align: left;
    }
}


.app-provider-shortlist-add {
    display: block;
}

.app-provider-shortlist-remove {
    display: none;
}

.app-provider-shortlist-tag {
    margin-bottom: 5px;
}

.app-provider-shortlist-added .app-provider-shortlist-add {
    display: none;
}

.app-provider-shortlist-added .app-provider-shortlist-remove {
    display: block;
}

.das-button--inline-link {
    text-align: inherit;
}




.app-shortlist-table__head {
    display: none;
}

@media (min-width: 40.0625em) {
    .app-shortlist-table__head {
        display: table-header-group;
    }
}

.app-shortlist-table__row {
    border-bottom: 1px solid #b1b4b6;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: block;
}

@media (min-width: 40.0625em) {
    .app-shortlist-table__row {
        display: table-row;
    }
}

.app-shortlist-table__header-cell {
    display: block;
    padding: 0;
    border: none;
}

@media (min-width: 40.0625em) {
    .app-shortlist-table__header-cell {
        display: table-cell;
        padding: 11px 20px 10px 0;
        border-bottom: 1px solid #b1b4b6;
    }
}

.app-shortlist-table__cell {
    display: block;
    padding: 0;
    border: none;
}

@media (min-width: 40.0625em) {
    .app-shortlist-table__cell{
        display: table-cell;
        padding: 11px 20px 10px 0;
        border-bottom: 1px solid #b1b4b6;
    }
}

.app-shortlist-table__highlight {
    margin: 0 0 10px;
}

@media (min-width: 40.0625em) {
    .app-shortlist-table__highlight {
        padding-bottom: 20px;
    }
}

@media (min-width: 40.0625em) {
    .app-\!-hide--tablet {
        display: none !important;
    }
}

.app-user-content ul {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    padding-left: 20px;
    list-style-type: disc;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
}

@media (min-width: 40.0625em) {
    .app-user-content ul {
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}


@media (min-width: 40.0625em) {
    .js-enabled .das-show-hide__button {
        display: none;
    }
}


.js-enabled .app-data-tabs .govuk-tabs__panel {
    border: none;
    padding: 20px 0;
}

.das-table--responsive .govuk-table__body tr th:before,
.das-table--responsive .govuk-table__body tr td:before {
    text-align: left;
    max-width: 80%;
}

.app-graph-key {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    list-style: none;
    padding: 0;
    margin: 10px 0 30px;
}

.app-graph-key__list-item {
    border-left: 24px solid #ccc;
    line-height: 24px;
    margin-bottom: 7px;
    padding-left: 7px;
}

.app-graph-key__list-item--colour-1 {
    border-left-color: #28a197;
}

.app-graph-key__list-item--colour-2 {
    border-left-color: #d53880;
}

.app-graph {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
}

.app-graph__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
}

.app-graph__list-item {
    border-top: 1px solid #d9dadb;
}

@media (min-width: 40.0625em) {
    .app-graph__list-item {
        display: table-row;
    }
}

.app-graph__label,
.app-graph__chart-wrap {
    vertical-align: middle;
}

.app-graph__label {
    font-weight: 400;
    font-size: inherit;
    margin: 0;
    padding: 5px 0;
}

.app-graph__chart-wrap {
    width: 100%;
    padding: 5px 0 10px;
}

@media (min-width: 40.0625em) {
    .app-graph__label,
    .app-graph__chart-wrap {
        display: table-cell;
        border-top: 1px solid #d9dadb;
        padding: 10px 0;
        width: 60%;
    }
}

@media (min-width: 40.0625em) {
    .app-graph__label {
        padding-right: 10px;
        text-align: right;
        width: 40%;
    }
}

.app-graph__category {
    padding: 20px 0 10px;
}

@media (min-width: 40.0625em) {
    .app-graph__category {
        margin-left: 40%;
    }
}

.app-graph__caption {
    display: block;
    font-size: 90%;
    color: #505a5f;
}

.app-graph__bar,
.app-graph__bar-value {
    display: block;
    height: 24px;
}

.app-graph__bar {
    margin-right: 45px;
}

.app-graph__bar-value {
    background: #28a197;
    position: relative;
    min-width: 1px;
}

.app-graph__bar-value--colour-2 {
    background: #d53880;
}

.app-graph__figure {
    position: absolute;
    left: 100%;
    display: inline-block;
    padding: 3px;
    font-size: 90%;
}

.app-show-hide-panel__hidden {
    display: none;
}
